@media print{.screen_only{display:none;}}

@media screen and (max-width: 759px) {

 body{
  background-color:#485B63;
}
 #heading-box{background-color:black}

h2{color:yellow; text-align:center; width:70%; height:40px; margin-left:35px; padding:10px;font-size:15px;}

h3{font-family:andale mono; text-align:center;width: 90%;}

.custom-h2-format{width:70%; margin-left:35px; }

.custom-h2-format2{width:70%;margin-left:35px; height:50px;}

.custom-border-heading{padding: 10px;margin: 10px; border: 5px double black;font-size:20px;}

p{font-weight:bold; text-align:center; font-family:andale mono;}

form{text-align:center;}

ol{text-align:center; font-family:andale mono;}

ul{text-align:center; font-family:andale mono;}

.black-border-color{
  border-color:black;
  border-width: 10px;
  border-type: solid;}

.table>table{
 border-collapse:collapse;
 margin-top: 5px;
 border: 2px solid black;
 margin-bottom: 5px;
 font-size: 0.3em;
 min-width:20%;
}
.table>table th{
 background-color:green;
 color:yellow;
 text-align:center;
 font-weight:bold;
 border-bottom: 1px solid black;
 border-left:1px solid black;
 border-right:1px solid black;
 font-family:andale mono;
}
.table>table td{
 padding:12px 15px;
 border-bottom: 1px solid black;
 border-left:1px solid black;
 border-right:1px solid black;
 text-align:center;
}
.table>table tr:nth-child(even){
 background-color:#F2F2F2;
}

}

