#custom-border {border-color: black;
  border-width: 5px;
  border-type: double;
  font-size:50px;
  }
h2{font-weight:bold;
 text-align:center;
 width:20%;
 height:40px;
 margin-left:550px;
}
.custom-h2-format{
 width:32%;
 margin-left:450px;
}

.black-border-color{
  border-color:black;
  border-width: 5px;
  border-type: solid;
}
.table{
  
 border-collapse:collapse;
 margin-top: 25px;
 margin-bottom: 25px;
 margin-left:150px;
 font-size: 0.9em;
 min-width:400px;
}
.table-firstrow{
 background-color:green;
 color:yellow;
 text-align:center;
 font-weight:bold;
}
.table td{
 padding:12px 15px;
 text-align:center;
}
.table tbody tr:nth-child(even){
 border-bottom: 1px solid lightgray;
}


  
